<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>DunBinAttack (1).png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>DunBinAttack (2).png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>DunBinAttack (3).png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>DunBinAttack (4).png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>DunBinAttack (5).png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>65.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>DunBinAttack (6).png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>49.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>DunBinAttack (7).png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>341</integer>
				<key>offsetX</key>
				<real>55</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>DunBinAttack (8).png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>52.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>DunBinDead (1).png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>586</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>DunBinDead (2).png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>DunBinDead (3).png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>706</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>DunBinDead (4).png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>329</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>DunBinDead (5).png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>836</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>DunBinDead (6).png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>DunBinDead (7).png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-52.5</real>
			</dict>
			<key>DunBinDead (8).png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-63</real>
			</dict>
			<key>DunBinHurt (1).png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>DunBinHurt (2).png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>740</integer>
				<key>y</key>
				<integer>271</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>DunBinHurt (3).png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>836</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>DunBinHurt (4).png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>DunBinHurt (5).png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>167</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>DunBinHurt (6).png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>638</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>DunBinHurt (7).png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>526</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>DunBinHurt (8).png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>526</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>DunBinStand (1).png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>680</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>DunBinStand (2).png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>510</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>DunBinStand (3).png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>678</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>DunBinStand (4).png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>510</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>DunBinStand (5).png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>DunBinStand (6).png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>DunBinStand (7).png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>668</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>DunBinStand (8).png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>DunBinAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>DunBinAnimation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>