<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GongBinAnimation (1).png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>GongBinAnimation (2).png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>GongBinAnimation (3).png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>GongBinAnimation (4).png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>GongBinAnimation (5).png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>GongBinAnimation (6).png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>114</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>GongBinAnimation (7).png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>GongBinAnimation (8).png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>345</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>GongBinAnimation (9).png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>GongBinAttack (1).png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>GongBinAttack (2).png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>GongBinAttack (3).png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>GongBinAttack (4).png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>GongBinAttack (5).png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>279</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>GongBinAttack (6).png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>461</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>GongBinAttack (7).png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>GongBinAttack (8).png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>GongBinAttack (9).png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>GongBinDead (1).png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>771</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>GongBinDead (2).png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>648</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>GongBinDead (3).png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>884</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>GongBinDead (4).png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>476</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>GongBinDead (5).png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>643</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>GongBinDead (6).png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>GongBinDead (7).png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>291</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>GongBinDead (8).png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>-53.5</real>
			</dict>
			<key>GongBinDead (9).png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>-53.5</real>
			</dict>
			<key>GongBinHurt (1).png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>GongBinHurt (2).png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>598</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>GongBinHurt (3).png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>766</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>GongBinHurt (4).png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>490</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>GongBinHurt (5).png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>657</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>GongBinHurt (6).png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>GongBinHurt (7).png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>GongBinHurt (8).png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>329</integer>
				<key>y</key>
				<integer>669</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>GongBinHurt (9).png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>542</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>823</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GongBinAnimation0.png</string>
			<key>realTextureFileName</key>
			<string>GongBinAnimation0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>